---
name: Lint
permissions:
  contents: read
on: pull_request

jobs:
  yamllint:
    name: Yamllint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run Yamllint
        uses: frenck/action-yamllint@v1.5.0
        with:
          strict: true

  markdownlint:
    name: markdown
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v21

  golangci-lint:
    name: go
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod
      - run: go version
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          install-mode: goinstall
          only-new-issues: true
