---
name: Build and test
on:
  - push

permissions:
  contents: read

jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: go version
      - name: go test
        env:
          # We enable cgo to be able to test with `-race`.
          CGO_ENABLED: 1
        run: >-
          go test -v -race -cover -covermode=atomic -coverprofile=coverage.txt ./...
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
